#root {
  .App {
    .App-header {
      background-color: transparent;
    }
    .App-main {
      background-color: transparent;
    }
    .mainContent {
      min-height: 76vh;
    }
    .App-footer {
      background-color: transparent;
    }
  }
}
